<!DOCTYPE html>
<html>
  <head>
    <title>LC Contabil</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <header>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:blue">
      <a class="navbar-brand" href="/" style="color: white;">LC Contabil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">Noticias</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              Serviços
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Abertura de Empresas</a>
              <a class="dropdown-item" href="#">DASN (Declaração MEI)</a>
              <a class="dropdown-item" href="#">IRPF</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" style="color: white;">Sobre</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://blog.mastermaq.com.br/content/uploads/2019/08/Futuro-da-contabilidade-Consultoria-IoT-e-a-nova-gera%C3%A7%C3%A3o-de-escrit%C3%B3rios.jpg" alt="Primeiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 >Bem vindo ao LC Contabil</h5>
            <p>Aqui você fica por dentro das noticias e novidades!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="http://www.usscontabil.com.br/wp-content/uploads/2020/07/contabilidade.png" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://osayk.com.br/wp-content/uploads/2018/03/contabilidade-tradicional-online-1-1080x567.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://jfolador.com.br/wp-content/uploads/2020/09/o-papel-da-contabilidade-nas-empresas-em-tempos-de-crise-20200723132137-jpg.jpg" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
