<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Post</title>
</head>
<%- include('./partials/header.ejs') %>
<body>
    <main class="container">
        <% if (errorMessage) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Erro!</strong> <%= errorMessage %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          <% } %>
          <%if (successMessage) { %>
            <div class="alert alert-primary" role="alert">
                <strong>Parabéns!</strong> <%= successMessage %> <a href="/news/" class="alert-link">Ver notícia.</a><div class=""></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <% } %>
        <section class="container-phrases">
            <h1>Criando um novo artigo</h1>
            <h5>A nova fonte de poder não é o dinheiro nas mãos de poucos, mas informação nas mãos de muitos.</h5><h6>John Naisbitt</h6>
        </section>
        <form action="/news" method="POST">
            <section>
                <div>  
                    <label for="id" id="id" class="form-label"><h4>ID:</h4></label>
                    <input type="number" name="id" id="id" placeholder="Digite aqui o ID" class="form-control" required>
                </div>
                <br>
                <div>
                    <label for="title" id="" class="form-label"><h4>Titulo:</h4></label>
                    <input type="text" name="title" id="title" placeholder="Digite aqui o titulo da notícia" class="form-control" required>
                </div>
                <br>
                <div>
                    <label for="subtitle" id="" class="form-label"><h4>Subtitulo:</h4></label>
                    <textarea required name="subtitle" id="subtitle" cols="40" rows="5" placeholder="Digite aqui o subtitulo da notícia" class="form-control"></textarea>
                </div>
                <br>
                <div>
                    <label for="body_text" id="" class="form-label"><h4>Conteúdo:</h4></label>
                    <textarea required name="body_text" id="body_text" cols="40" rows="5" placeholder="Digite aqui a notícia" class="form-control"></textarea>
                </div>
                <br>
                <div>
                    <label for="category" id="" class="form-label"><h4>Categoria:</h4></label>
                    <select name="category" id="category" class="form-control">
                        <option value="Contábil">Contábil</option>
                        <option value="Dep. Pessoal">Dep. Pessoal</option>
                        <option value="Fiscal">Fiscal</option>
                        <option value="Rural">Rural</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="author" id="" class="form-label"><h4>Autor:</h4></label>
                    <input type="text" required name="author" id="author" cols="40" rows="5" placeholder="Digite aqui o seu nome" class="form-control">
                </div>
                <br>
                <div>
                    <label for="date" id="" class="form-label"><h4>Data de publicação:</h4></label>
                    <input type="date" required name="date" id="author" cols="40" rows="5" class="form-control">
                </div>
            </section>
                <br>
            </section>
            <section>
                <button type="submit" class="btn btn-primary">Publicar Notícia</button>
            </section>
        </form>
    </main>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>